.App {
  margin-top: 15px;
  font-family: 'Raleway';
  background-color: silver;
}

.App .navbar-brand {
  font-weight: bold;
  font-family: 'Raleway';
  font-size: 60px;
}

body {
  background-color: silver;
}
