.card-img-top {
  width: 100%;
  height: 18vh;
  object-fit: cover;
}

#cardTitle {
  color: #1b3280;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline #829fff;
}

#cardText {
  color: #1b3280;

  font-size: 15px;
  margin-top: 10%;
}
