.logo {
  text-align: left;
  text-shadow: -5px -5px 0px #1b3280, 1px 1px 0px rgba(0, 0, 0, 1);
  color: #3565ff;
  opacity: 0.8;
  font-size: 45px;
  font-weight: 700;
}

.nav {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  width: 100%;
  padding: 3px;
  margin: 0;
}
