.ProfilePage {
  padding: 80px 0;
  text-align: center;
}

.ProfilePage h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-block-end-style: solid;
}

.ProfilePage p {
  color: #999;
}

.wrap {
  display: grid;
  grid-template-columns: 50% 50%;
}
.wrap .recsCarouselContainer {
  margin: 8%;
}

.wrap .likesCarouselContainer {
}
