.ProfilePage {
  padding: 80px 0;
  text-align: center;
}

.ProfilePage h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-block-end-style: solid;
}

.ProfilePage p {
  color: #999;
}

.recsCarouselContainer {
  position: fixed;
}

.noRec {
  margin-left: -70%;
  margin-top: 155%;
  padding: 0;
}

.recTitle {
  margin-left: -20%;
  margin-top: 22%;
  padding: 0;
  position: fixed;
}
