@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.cDiv {
  margin-left: 5%;
}
.criteria {
  text-align: left;
  margin-left: -5%;
  color: #1b3280;
  font-size: 15px;
}
